# =====================================
# 1. JAVA & MAVEN (Padrão do Projeto)
# =====================================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =====================================
# 2. IDEs (Configurações do Editor)
# =====================================
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.history/

# =====================================
# 3. SEGURANÇA & INFRAESTRUTURA (NOVO)
# =====================================

# --- Segredos e Variáveis de Ambiente ---
.env
*.env

# --- Terraform (Arquivos Temporários e Segredos) ---
# Ignora a pasta de plugins baixados
infra/.terraform/
.terraform/

# Ignora o estado da infraestrutura (contém IPs e dados sensíveis)
*.tfstate
*.tfstate.backup

# Ignora o arquivo de variáveis (ONDE ESTÃO OS OCIDs!)
*.tfvars
infra/terraform.tfvars

# Ignora arquivos de crash log
crash.log

# --- Chaves SSH e Certificados ---
*.pem
*.key
*.pub