<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="h3 mb-1 text-gray-800" id="usuario-nome-cabecalho">A carregar...</h1>
        </div>
        <button class="btn btn-secondary" id="btn-voltar"><i class="bi bi-arrow-left me-2"></i>Voltar para as Consultas</button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalhes do Funcionário</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>ID:</strong> <span id="detalhe-usr-id">...</span></p>
                    <p><strong>Nome:</strong> <span id="detalhe-usr-nome">...</span></p>
                </div>
                <div class="col-md-6">
                    <p><strong>Email:</strong> <span id="detalhe-usr-email">...</span></p>
                    <p><strong>Cargo:</strong> <span id="detalhe-usr-cargo">...</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Solicitações Encontradas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Justificativa</th>
                        <th>Data da Solicitação</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela-solicitacoes-usuario">
                    </tbody>
                </table>
            </div>
            <nav id="paginacao-solicitacoes-usuario" class="d-flex justify-content-center mt-3"></nav>
        </div>
    </div>
</div>

<script src="/js/pages/consulta-usuario.js"></script>