<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="h3 mb-1 text-gray-800" id="equipamento-nome-cabecalho">A carregar...</h1>
        </div>
        <button class="btn btn-secondary" id="btn-voltar-consulta-eq"><i class="bi bi-arrow-left me-2"></i>Voltar para as Consultas</button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalhes do Equipamento</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nome:</strong> <span id="detalhe-eq-nome">...</span></p>
                    <p><strong>Categoria:</strong> <span id="detalhe-eq-categoria">...</span></p>
                </div>
                <div class="col-md-6">
                    <p><strong>Quantidade Total:</strong> <span id="detalhe-eq-qtd-total">...</span></p>
                    <p><strong>Quantidade Disponível:</strong> <span id="detalhe-eq-qtd-disp">...</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Histórico de Movimentações</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Data</th><th>Tipo</th><th>Qtd.</th><th>Stock Anterior</th><th>Stock Posterior</th><th>Responsável</th><th>Solicitação ID</th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela-hist-equipamento"></tbody>
                </table>
            </div>
            <nav id="paginacao-hist-equipamento" class="d-flex justify-content-center"></nav>
        </div>
    </div>
</div>

<script src="/js/pages/consulta-equipamento.js"></script>