<div class="container-fluid">
    <h1 class="h3 mb-3 text-gray-800">Histórico de Devoluções</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Todas as Devoluções Registadas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabela-devolucoes">
                    <thead>
                    <tr>
                        <th>ID Devolução</th>
                        <th>ID Solicitação</th>
                        <th>Equipamento</th>
                        <th>Qtd. Devolvida</th>
                        <th>Data da Devolução</th>
                        <th>Observação</th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela-devolucoes">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/pages/devolucoes.js"></script>